.page {
}
.header {
}
.header-container {
    background-color: black;
    color: white;
}
.content {
}
.content-container {
}
.image {
}
.image-container {
}
.menu {
}
.menu-container {
}
.brief {
}
.Bio {
}
.sectionText {
    background-color: black;
    color: white;
}
.activity {
}
.links {
}
.footer {
}
.footer-container {
}
.copyright {
}